<div class= "container mt-3">
  <h1> Create a New List </h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Create List", class: "btn btn-primary" %>
  <% end %>

  <br>
  <%= link_to "Home page", lists_path, class: "btn btn-primary"  %>

</div>
