<div class= "container">
  <h1>Create a Bookmark for your list</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.association :list %>
    <%= f.button :submit, "Add bookmark", class: "btn btn-primary" %>
  <% end %>

</div>

<div class= "container mt-3">
  <%= link_to "Home Page", lists_path, class: "btn btn-primary"%>
</div>
